
   .row {
       width: 100%;
   }
   body {
        background-color: #842DCE;
    }
    p {
      border: solid black;
      background-color:#F778A1 ;
      width: 90%;
      height: 90%;
      margin-right: auto;
      margin-left: auto;
      font-family: Arial, Helvetica, sans-serif;
      color:black;
      padding-left: 8px;
      padding-bottom: 5px;
      
      
    }
     .box1 {
      font-family: 'Times New Roman', Times, serif;
      border-bottom: solid black;
      border-left: solid black;
      background-color: brown;
      float: right;
      padding: 5px 15px 5px 15px;
    }
    .box2 {
      font-family: 'Times New Roman', Times, serif;
      border-bottom: solid black;
      border-left: solid black;
      background-color: #F75D59;
      float: right;
      padding: 5px 15px 5px 15px;
    }
    .box3 {
      font-family: 'Times New Roman', Times, serif;
      border-bottom: solid black;
      border-left: solid black;
      background-color:white;
      float: right;
      padding: 5px 15px 5px 15px;
    }
    h1 {
      text-align: center;
    }
    /********** Large devices only **********/
    @media (min-width: 998px) {
      .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
      }
      .col-lg-1 {
        width: 8.33%;
      }
      .col-lg-2 {
        width: 16.66%;
      }
      .col-lg-3 {
        background-color: lightgreen;
        width: 25%;
      }
      .col-lg-4 {
        width: 33.33%;
      }
      .col-lg-5 {
        width: 41.66%;
      }
      .col-lg-6 {
        width: 50%;
      }
      .col-lg-7 {
        width: 58.33%;
      }
      .col-lg-8 {
        width: 66.66%;
      }
      .col-lg-9 {
        width: 74.99%;
      }
      .col-lg-10 {
        width: 83.33%;
      }
      .col-lg-11 {
        width: 91.66%;
      }
      .col-lg-12 {
        width: 100%;
      }

    }
    